.all{
    background-color: #0D1321;
    height: 500px;
    font-size: 250px;
    padding: 120px 0 120px 0;
    align-items: center;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    color: #F0EBD8;
}